/Java/P1-T6-Model-PotronyLopezBru/nbproject/private/
/Java/P1-T6-InterficiePersistencia-PotronyLopezBru/nbproject/private/
/Java/P1-T6-CapaOracle-PotronyLopezBru/nbproject/private/
/Java/P1-T6-Model-PotronyLopezBru/build/
/Java/P1-T6-CapaOracle-PotronyLopezBru/build/
/Java/P1-T6-InterficiePersistencia-PotronyLopezBru/build/
/Java/P1-T6-Swing-PotronyLopezBru/build/
/Java/P1-T6-Swing-PotronyLopezBru/nbproject/private/
/Java/P1-T6-Model-PotronyLopezBru/dist/
/Java/P1-T6-CapaOracle-PotronyLopezBru/dist/
/Java/P1-T6-InterficiePersistencia-PotronyLopezBru/dist/
/Java/P1-T6-Swing-PotronyLopezBru/dist/
/Java/P1-T7-Vista-Cognom1Cognom2Nom/nbproject/private/
/Java/P1-T7-Vista-Cognom1Cognom2Nom/build/
/Java/P1-T7-Vista-PotronyLopezBru/nbproject/private/
/Java/P1-T7-Vista-PotronyLopezBru/build/
